:root {
  --background: rgba(108, 108, 108, 0.85);
  --grey-blue:#a7cde2;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--grey-blue);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
}

.content {
height: 233px;
background: var(--grey-blue);
position: relative;
display: flex;
top: 107px;
}

h1 {
  text-align: center;
  position: relative;
  top: 17px;
}

h2 {
  text-align: center;
  position: relative;
  top: 34px;
}

.paragraph {
  background: var(--grey-blue);
  background-size: cover;
  place-items: center;
  margin-left: 24px;
  margin-top: 0px; 
  border-left: #000 2px solid;
  padding-left: 20px;
  height: fit-content;
}
 
.applications {
    background: var(--grey-blue);
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.applications figure li {
margin: 31px;
}

header {
background: var(--background);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    font-size: 150%;
    display: flex;
    height: 60px;
}

nav {
  position: fixed;
  top: 0;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

nav {
  position: relative;
  text-align: left;
  transition: none;
  transform: scale(1,1);
  background: none;
  top: initial;
  left: initial;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  position: relative;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background: var(--grey-blue);
  position: absolute;
  top: -.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover::before {
  transform: scale(1,1);
}

.logo {
  grid-column: 2 / 3;
}

.button {
  text-decoration: none;
  color: white;
  border: white;
  border-width: 2px;
  border-style: solid;
  margin: 12px;
  padding: 9px;
  background-color: rgba(0, 0, 0, .5);
}

 figure {
  position: relative;
  width: 400px;
  margin: 20px;
 }

 figure a {
position: absolute;
top: 0px;
right: 0;
 }

 figure img {
  width: 400px;
 }